@tailwind base;
@tailwind components;
@tailwind utilities;

main{
    max-width: 1280px;
    margin: auto;
    min-height: 90vh;
    padding: 10px;
}

@layer components {
    .badge {
      @apply inline-flex items-center gap-1 px-2 py-1 text-xs font-medium rounded-full;
    }
  
    .badge-dot {
      @apply w-2 h-2 rounded-full;
    }
  
    .badge-blue {
      @apply bg-blue-100 text-blue-800;
    }
  
    .badge-green {
      @apply bg-green-100 text-green-800;
    }
  
    .badge-pink {
      @apply bg-pink-100 text-pink-800;
    }
    /* ...add more colors if needed... */
  }